# docker-compose.yml
# This docker-compose file is for PRODUCTION builds.
# It builds a single, self-contained image using the multi-stage Dockerfile.

services:
  zip-challenge-app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    container_name: zip_challenge_prod_app # Use a different name to avoid conflicts
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - ./.env
    # NOTE: No volume mount for `src` in production. 
    # The code is baked into the image for immutability.
    stdin_open: true
    tty: true
    restart: on-failure